.menu-symbol {
    margin: 1em;
    width: 40px;
}

.menu-symbol::after,
.menu-symbol::before,
.menu-symbol div {
    background-color: #c2c2c2;
    border-radius: 3px;
    content:'';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.change .menu-symbol::before {
    transform: translateY(12px) rotate(135deg);
}

.change .menu-symbol::after {
    transform: translateY(-12px) rotate(-135deg);
}

.change .menu-symbol div {
    transform: scale(0);
}

#portfolio {
    background: #E8BC44
    /* background: #343a40 !important; */
}

.dropdown-menu {
    background-color: #132F49;
    border: none;
}

.dropdown-item {
    color: rgba(255, 255, 255, .6) !important;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff !important;
    text-decoration: none;
    background-color: #132F49;
    
}

@media (min-width: 992px) {
    .nav-item {
        display: flex;
        align-items: center;
    }
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    background: rgba(192, 35, 44, .9);
}

#phone-number {
    display: block;
}